<p class="thanks">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
<p class="compiling">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
<p class="go-to">In the meantime, you can contact us at  <a href="mailto:&#115;&#104;&#097;&#110;&#101;&#064;&#103;&#114;&#111;&#119;&#046;&#098;&#105;&#111;">&#115;&#104;&#097;&#110;&#101;&#064;&#103;&#114;&#111;&#119;&#046;&#098;&#105;&#111;</a></p>
<p class="again">Thank You Again!</p>