<footer class="db w-100 bg-near-white red tl pv3 ph3 ph4-l">
  <p class="mv0 f4 fw7 lh-copy"><a href="https://grow.bio" class="link red v-mid">GROW.bio</a><span class="black fw4 v-mid"> // <a href="https://ecovativedesign.com" class="link black v-mid">an Ecovative brand</a></p>
</footer>